@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1C2128;
    align-items: center;
    color: #fff;
    text-align: center;
    margin: 0;
    min-height: 100vh;
  }

  header {
    background-color: #1C2128;
    color: #fff;
    box-shadow: 0 0 5px #fff;
    align-items: center;
    padding: 5px 20px;
    display: flex; /* SO IS THAT WHY THE HEADER WAS TWEAKING BRU */
    justify-content: space-between;
    height: 57px;
  }

  .header-img {
    display: flex;
    align-items: center;
    width: 310px;
    justify-content: flex-start;
  }

  .header-links {
   display: flex;
   align-items: center;
   gap: 20px;
   justify-content: flex-end;
  }

  .header-link {
   color: #fff;
   font-size: 2.2em;
   font-weight: bold;
   text-decoration: none;
   transition: color 0.3s ease;
  }

  .header-link:hover {
   color: #0095ff;
  }

