#chatroom {
  max-width: calc(100% - 30px);
  height: 80vh;
  align-items: center;
  justify-content: center;
  margin: 1.8%;
  background-color: #363d47;
  border: none;
  border-radius: 15px;
  overflow: hidden;
}

.chatbar {
  max-width: calc(100% - 100vw);
  margin-top: 0.2%;
  display: flex;
  height: 10vh;
  margin-left: 1.5%;
  margin-right: 1.5%;
  font-size: 3.5em;
  background-color: #22272E;
  padding-left: 10px;
  overflow: hidden;
  border: none;
  border-radius: 12px;
  color: #fff;
}

.chatbar::placeholder {
  color: #ADB0B7;
}

.chatbar:active {
  outline: none;
}
