#chat-options {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 1.7em;
  background-color: #22272E;
  transform: translate(-50%, -50%);
  border: 1px solid #555;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  width: auto;
  text-align: center;
}

.chatframe {
  border: none;
  height: 100vh;
  width: 100%;
}

.chat-button {
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #0095FF;
  border: 3px solid #fff;
  color: #fff;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.chat-button:hover {
  border: 3px solid #0b9aff;
  background-color: #056cb6;
}

.chat-options-title {
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

#main-area {
  min-height: 100vh;
}
  
