#chatroom {
  max-width: calc(100% - 30px);
  height: 80vh;
  align-items: center;
  justify-content: center;
  margin: 1.8%;
  margin-bottom: 2px;
  background-color: #363d47;
  border: none;
  border-radius: 15px;
  overflow: hidden;
}

.chatbar {
  flex-grow: 1;
  display: flex;
  margin: 1.8%;
  margin-top: 10px;
  height: 10vh;
  font-size: 3.5em;
  background-color: #363d47;
  padding-left: 10px;
  overflow: hidden;
  border: none;
  border-radius: 15px;
  color: #fff;
}

.chatbar::placeholder {
  color: #ADB0B7;
}

.chatbar:active, .chatbar:focus {
  outline: none;
  border: none;
}

.btn-emoji, .btn-send {
  height: 10vh;
  font-size: 3.5em;
  background-color: #363d47;
  border: none;
  border-radius: 15px;
  color: #fff;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-img {
  height: 1em;
}
