.error-title {
  text-align: center;
  color: #fff;
  font-size: 2.3em;
  margin-bottom: 0;
}

.error-desc {
  text-align: center;
  font-size: 1.8em;
  color: #fff;
}

#main-area {
  min-height: 100vh;
}
