#game-body {
  display: flex;
  flex-direction: column;
}

#game-frame {
  margin-right: 90%;
  margin-left: 10%;
  position: relative;
  float: left;
  flex-direction: column;
  justify-content: flex-start;
}

.frame {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 1250px;
  height: 750px;
  border: none;
  position: relative;
  z-index: 1;
  margin: 0;
}

.bar-divider {
  border-right-color: #888;
  border-right-style: solid;
  border-right-width: 2px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
}

.game-bar {
  width: 1250px;
  height: 65px;
  display: flex;
  color: #fff;
  position: relative;
  background-color: #0095ff;
  text-align: center;
  align-items: center;
  margin: -6px auto 0;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.game-index-title {
  font-size: 45px;
  font-weight: bold;
  margin-left: 10px;
}

.fa-svg path {
  fill: #fff;
  transition: fill 0.3s ease;
}

.fa-svg:hover path {
  fill: #000;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.full,
.redir,
.embed {
  border: none;
  transition: color 0.3s ease;
  width: 50px;
  cursor: pointer;
  background-color: transparent;
  margin-left: 4px;
}

.embed {
  margin-left: 0;
  width: 60px;
  padding-left: 0;
}

.like-btn,
.dislike-btn {
  border: none;
  width: 50px;
  cursor: pointer;
  background-color: transparent;
  margin-left: 4px;
}

.full {
  margin-right: 7px;
}

.dislike,
.like {
  display: flex;
  flex-riection: row;
}

.dislike-amount,
.like-amount {
  font-size: 48px;
}

.embed-screen {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  animation: open 0.5s ease;
}

.embed-body {
  max-width: 600px;
  height: 120px;
  color: #fff;
  background-color: #1C2128;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  text-align: center;
  position: relative;
}

.embed-title {
  margin-top: 6px;
  font-size: 2.7em;
  margin-bottom: 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 27px;
  color: #fff;
  transition: color 0.3s ease;
}
  
@keyframes open {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.copy-btn {
  position: absolute;
  right: 10px;
  border: none;
  border-radius: 5px;
  width: auto;
  width: 39px;
  color: #fff;
  background-color: #1C2128;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 5px;
}

.embed-fa svg {
  width: 28px;
}

.embed-fa path {
  fill: #fff;
}

.copy-area {
  background-color: #353D47;
  border-radius: 6px;
  width: 443.938px;
  height: 50px;
  position: relative;
  align-items: center;
  display: flex;
}

.embed-code {
  width: 370px;
  height: 30px;
  background: none;
  border: none;
  font-size: 1.7em;
  color: #fff;
  margin-left: 10px;
  margin-right: auto;
}

.embed-code:focus {
  outline: none;
  border: none;
}
