#issue-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#issue-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#issue-body,
#issue-main {
  margin: 0 5% 0 5%;
}

.issues-amount {
  font-size: 2.6em;
  font-weight: 750;
  margin-top: 5px;
  color: #fff;
}

#closed-amount,
#open-amount {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px !important;
  flex: 1;
  text-align: right;
}

.issue-new {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
  align-items: center;
  height: auto;
  font-size: 2.6em;
  padding: 10px;
  max-height: 100vh;
  font-weight: bold;
  width: auto;
  max-width: 100vw;
  border: none;
  border: 2px solid #fff;
  border-radius: 25px;
  color: #fff;
  background-color: #1C2128;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.issue-new:hover {
  transform: scale(1.03);
}

.fa {
  width: 1em;
}

#main-area {
  min-height: 100vh;
}
