#issue-main {
  display: flex;
  flex-direction: row;
}

.issue-new {
  height: auto;
  font-size: 2.6em;
  padding: 10px;
  max-height: 100vh;
  font-weight: bold;
  width: auto;
  max-width: 100vw;
  border: none;
  border: 2px solid #fff;
  border-radius: 25px;
  color: #fff;
  background-color: #1C2128;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.issue-new:hover {
  transform: scale(-3px);
}

.fa {
  width: 2.5em;
}

#main-area {
  min-height: 100vh;
}
