#proxy-console {
  flex: 1;
  padding: 20px;
  margin: 15px;
  max-width: calc(100vw - 30px);
  height: 100vh;
  background-color: #22272E;
  display: flex;
  justify-content: flex-end;
  border-radius: 12px;
  overflow: hidden;
  flex-direction: column;
}

.injectedlinks {
  font-size: 1.9em;
  overflow-y: auto;
  top: 0;
  width: 100%;
  margin: 5px 15px 5px 15px;
}

.linkanchor {
  text-align: left;
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  transition: color 0.3s ease;
  width: 100%;
  display: block;
}

.linkanchor:hover {
  color: #0095FF;
}

#main-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
  margin: 20px;
}

#p-menu {
  display: flex;
  width: 20%;
  flex-direction: column;
  margin: 0 0 15px 0;
}
  

#proxy-menu {
  background-color: #22272E;
  color: #fff;
  padding: 20px;
  height: calc(75vh - 30px);
  overflow-y: auto;
  margin: 15px 0 15px 0;
  border-radius: 12px;
}

#proxy-options {
  background-color: #22272E;
  color: #fff;
  padding: 20px;
  margin-top: 5px;
  height: calc(25vh - 30px);
  border-radius: 12px;
}

.proxy-button {
  margin: 5px 0 5px 0;
  border-radius: 12px;
  background-color: #1C2128;
  width: 100%;
  color: #fff;
  border: none;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  padding: 15px;
  height: auto;
  font-size: 1.7em;
  font-weight: 750;
}

.proxy-button:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  #proxy-menu,
  #proxy-options,
  #proxy-console {
    width: 100%;
    height: auto;
    margin: 0;
  }
  
  #main-area {
    flex-direction: column;
  }
}
