#proxy-console {
  flex: 1;
  padding: 20px;
  margin: 15px;
  max-width: calc(100vw - 30px);
  height: 100vh;
  background-color: #22272E;
  display: flex;
  justify-content: flex-start;
  border-radius: 12px;
  overflow: hidden;
  flex-direction: column;
}

.injectedlinks {
  font-size: 1.9em;
  overflow-y: auto;
  width: 100%;
  position: relative;
  margin: 5px 15px 5px 15px;
}

.linkanchor {
  text-align: left;
  margin-top: 0;
  text-decoration: none;
  top: 0;
  color: #fff;
  padding: 5px 0;
  transition: color 0.3s ease;
  width: 100%;
  display: block;
}

.linkanchor:hover {
  color: #0095FF;
}

#main-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
  margin: 20px;
}

#p-menu {
  display: flex;
  width: 20%;
  flex-direction: column;
  margin: 0 0 15px 0;
}
  

#proxy-menu {
  background-color: #22272E;
  color: #fff;
  padding: 20px;
  height: calc(75vh - 30px);
  overflow-y: auto;
  margin: 15px 0 15px 0;
  border-radius: 12px;
}

#proxy-options {
  background-color: #22272E;
  color: #fff;
  padding: 20px;
  margin-top: 5px;
  height: calc(25vh - 30px);
  border-radius: 12px;
}

.proxy-button {
  margin: 5px 0 5px 0;
  border-radius: 12px;
  background-color: #1C2128;
  width: 100%;
  color: #fff;
  border: none;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  padding: 15px;
  height: auto;
  font-size: 1.7em;
  font-weight: 750;
}

.proxy-button:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  #proxy-menu,
  #proxy-options,
  #proxy-console {
    width: 100%;
    height: auto;
    margin: 0;
  }
  
  #main-area {
    flex-direction: column;
  }
}

#report-screen {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  animation: open 0.5s ease;
}

#report-body {
  max-width: 600px;
  height: 120px;
  color: #fff;
  background-color: #1C2128;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  text-align: center;
  position: relative;
}

.report-title {
  margin-top: 6px;
  font-size: 2.7em;
  margin-bottom: 0;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  width: 27px;
}

@keyframes open {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.fa-embed path {
  fill: #fff;
  transition: fill 0.3s ease;
}

.fa-embed:hover path {
  fill: #ff0000;
}

#report-bar {
  width: 100%;
  height: 50px;
  background: none;
  margin: 15px;
  border: none;
  font-size: 1.7em;
  color: #fff;
}

.report-area {
  background-color: #353D47;
  border-radius: 6px;
  width: 100%;
  height: 50px;
  margin: 15px;
  position: relative;
  align-items: center;
  font-size: 1.7em;
  display: flex;
}

#report-bar:focus {
  outline: none;
  border: none;
}

#report-bar::placeholder {
  color: #555;
  font-size: 1.5em;
  align-items: center;
}
