#main-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
  margin-left: 8%;
  margin-right: 8%;
}

#settings-box {
  flex: 1;
  padding: 20px;
  margin: 15px;
  max-width: calc(100vw - 30px);
  height: 100vh;
  background-color: #22272E;
  display: flex;
  justify-content: flex-start;
  border-radius: 12px;
  overflow: hidden;
  flex-direction: column;
}

#settings-area {
  background-color: #1C2128;
  color: #fff;
}

#sidebar {
  width: 200px;
  background-color: #1C2128;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#sidebar-comp {
  margin-bottom: 20px;
}

.sidebar-title {
  color: #555;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 1.2em;
  text-align: left;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  background-color: #1C2128;
  color: #fff;
  border: none;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 23px;
  cursor: pointer;
  text-align: left;
  width: 15vw;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.sidebar-btn svg {
  margin-right: 10px;
  fill: #fff;
  width: 24px;
  height: 24px;
}

.sidebar-btn:hover {
  background-color: #22272E;
}

.sidebar-divider {
  border: 1px solid #22272E;
  margin: 1px 0;
}
