#introduction,
#toc,
#users,
#conduct,
#privacy {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
}

.tos-title,
.tos-paragraph,
.tos-subtitle, 
.tos-subtitle-paragraph,
.tos-comp-title,
.tos-small {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.tos-title,
.tos-comp-title {
  color: #0095ff;
}

.tos-comp-title {
  font-size: 2em;
  border-bottom: 4px solid #0095ff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.tos-title {
  font-size: 2.8em;
  font-weight: bold;
  color: #0095ff;
}

.tos-paragraph {
  font-size: 1.3em;
}

.tos-subtitle {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.5em;
}

.tos-subtitle-paragraph {
  font-size: 1.3em;
}

.tos-subtitle-paragraph a {
  display: inline-block;
  margin: 0;
  text-align: center;
  color: #0095ff;
}

.tos-small {
  font-size: 1.2em;
}
