#introduction,
#toc,
#users,
#conduct {
  display: flex;
  flex-direction: column;
  margin: 0 15px 15px 15px;
}

.tos-title,
.tos-paragraph,
.tos-subtitle, 
.tos-subtitle-paragraph,
.tos-comp-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.tos-title,
.tos-comp-title {
  text-align: center;
  font-weight: bold;
  font-size: 2.8em;
  color: #0095ff;
}

.tos-comp-title {
  border-bottom: 2px solid #0095ff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.tos-title {
  color: #0095ff;
}

.tos-paragraph {
  font-size: 2.3em;
}

.tos-subtitle {
  font-weight: bold;
  font-size: 2.6em;
  margin-right: 25px;
}

.tos-subtitle-paragraph {
  font-size: 2.3em;
}

.toc-a {
  color: #0095ff;
  font-size: 2.3em;
  margin: none;
}
