#introduction,
#toc,
#users,
#conduct {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
}

.tos-title,
.tos-paragraph,
.tos-subtitle, 
.tos-subtitle-paragraph,
.tos-comp-title,
.tos-small {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.tos-title,
.tos-comp-title {
  color: #0095ff;
}

.tos-comp-title {
  font-size: 1.5em;
  border-bottom: 2px solid #0095ff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.tos-title {
  font-size: 2.8em;
  font-weight: bold;
  color: #0095ff;
}

.tos-paragraph {
  font-size: 1.3em;
}

.tos-subtitle {
  font-weight: bold;
  font-size: 1.4em;
  margin-right: 25px;
}

.tos-subtitle-paragraph {
  font-size: 1.2em;
}

.tos-a {
  color: #0095ff;
  font-size: 1.3em;
  margin: none;
}

.tos-small {
  font-size: 1.2em;
}
